.footer footer {
  background-color: #202f3f;
  padding-top: 40px;
}
.footer footer .footerWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-bottom: 20px;
}
.footer footer .footerWrapper .footerLogo {
  width: 200px;
  height: auto;
}
.footer footer .footerWrapper .footerLogo img {
  width: 100%;
  height: 100%;
}
.footer footer .footerWrapper h4 {
  font-size: 26px;
  line-height: 39px;
  font-weight: 600;
  font-family: Poppins;
  color: #3d54a1;
}
.footer footer .footerWrapper ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.footer footer .footerWrapper ul li {
  list-style: none;
}
.footer footer .footerWrapper ul li .footerLink {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  font-family: Poppins;
  color: #ffffff;
  text-decoration: none;
  transition: 0.5s;
  position: relative;
}
.footer footer .footerWrapper ul li .footerLink:hover {
  color: #fff;
}
.footer footer .footerWrapper ul li .footerLink::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 1px;
  background-color: transparent;
  transform: scale(0);
  transition: 0.3s;
}
.footer footer .footerWrapper ul li .footerLink:hover::after {
  background-color: #fff;
  transform: scale(1);
}
.footer footer .footerWrapper .footerLinkIcons {
  display: flex;
  justify-content: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  position: relative;
}
.footer footer .footerWrapper .footerLinkIcons a {
  color: #fff;
}
.footer .footerBottom {
  background: #3d54a1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
.footer .footerBottom p {
  font-size: 22px;
  line-height: 33px;
  font-weight: 500;
  font-family: Poppins;
  color: #ffffff;
  text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .footer footer .footerWrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
  .footer footer .footerWrapper .footerLogo {
    width: 100%;
  }
  .footer footer .footerWrapper div {
    width: 100%;
    text-align: center;
  }
  .footer footer .footerWrapper .footerLinkIcons {
    display: flex;
    justify-content: center;
    -moz-column-gap: 10px;
         column-gap: 10px;
    position: relative;
  }
  .footer footer .footerWrapper .footerLinkIcons a {
    color: #fff;
  }
  .footerBottom p {
    font-size: 24px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .footer footer .footerWrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
  .footer footer .footerWrapper .footerLogo {
    width: 100%;
  }
  .footer footer .footerWrapper div {
    width: 100%;
    text-align: center;
  }
  .footer footer .footerWrapper .footerLinkIcons {
    display: flex;
    justify-content: center;
    -moz-column-gap: 10px;
         column-gap: 10px;
    position: relative;
  }
  .footer footer .footerWrapper .footerLinkIcons a {
    color: #fff;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .footer footer .footerWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  .footer footer .footerWrapper .footerLinkIcons {
    display: flex;
    justify-content: center;
    -moz-column-gap: 10px;
         column-gap: 10px;
    position: relative;
  }
  .footer footer .footerWrapper .footerLinkIcons a {
    color: #fff;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .footer footer .footerWrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
  .footer footer .footerWrapper .footerLinkIcons {
    display: flex;
    justify-content: center;
    -moz-column-gap: 10px;
         column-gap: 10px;
    position: relative;
  }
  .footer footer .footerWrapper .footerLinkIcons a {
    color: #fff;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .footer footer .footerWrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
  .footer footer .footerWrapper .footerLinkIcons {
    display: flex;
    justify-content: center;
    -moz-column-gap: 10px;
         column-gap: 10px;
    position: relative;
  }
  .footer footer .footerWrapper .footerLinkIcons a {
    color: #fff;
  }
}/*# sourceMappingURL=footer.css.map */