.eventsSection .eventsWrapper .flex {
  display: flex;
  justify-content: center;
}
.eventsSection .eventsWrapper .flex .eventsHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  max-width: 800px;
  text-align: center;
  width: 100% !important;
  padding: 15px;
}
.eventsSection .eventsWrapper .flex .eventsHeader span {
  width: 70px;
  height: 4px;
  background: #193263;
}
.eventsSection .eventsWrapper .flex .eventsHeader h4 {
  color: #3e3b3b;
  font-size: 30px;
  line-height: 45px;
  font-weight: 500;
  font-family: Poppins;
  text-align: center;
}
.eventsSection .eventsWrapper .eventsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.eventsSection .eventsWrapper .eventsGrid .event {
  width: 100%;
  height: 330px;
  position: relative;
}
.eventsSection .eventsWrapper .eventsGrid .event .overlayText {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/images/overlay.png");
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
.eventsSection .eventsWrapper .eventsGrid .event .overlayText a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  line-height: 27px;
  font-weight: 600;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 10px 40px;
  cursor: pointer;
  transform: translateY(-100px);
  opacity: 0;
}
.eventsSection .eventsWrapper .eventsGrid .event .overlayText a:hover {
  animation: pulse-2 1s ease infinite;
  background: transparent;
}
.eventsSection .eventsWrapper .eventsGrid .event:hover {
  cursor: pointer;
}
.eventsSection .eventsWrapper .eventsGrid .event:hover a {
  cursor: pointer;
  transform: translateY(0);
  transition: 0.5s;
  opacity: 1;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .eventsSection .eventsWrapper .eventsGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
  .eventsSection .eventsWrapper .flex .eventsHeader {
    max-width: 400px;
  }
  .eventsSection .eventsWrapper .flex .eventsHeader h4 {
    font-size: 24px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .eventsSection .eventsWrapper .eventsGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
  .eventsSection .eventsWrapper .flex .eventsHeader h4 {
    font-size: 24px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .eventsSection .eventsWrapper .eventsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .eventsSection .eventsWrapper .eventsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .eventsSection .eventsWrapper .eventsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
}/*# sourceMappingURL=events.css.map */