$baseColor: #193263;
$darkBgColor: #202f3f;
$blueBgColor: #3d54a1;
$applyBgColor: #db353a;
$grayFontColor: #838383;
$darkFontColor: #303030;
$borderColor: #c6c6c6;
.newsSection {
  padding: 60px 0;

  .newsWrapper {
    .newsHeader {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 5px;

      span {
        width: 70px;
        height: 4px;
        background: $baseColor;
      }
      h4 {
        color: #3e3b3b;
        font-size: 30px;
        line-height: 45px;
        font-weight: 500;
        font-family: Poppins;
      }
    }

    .newsList {
      .newsItemCard {
        width: 95% !important;
        height: 100%;
        .imgWrapper {
          width: 100%;
          height: 100%;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .cardContent {
          h5 {
            margin: 10px 0;
            font-size: 22px;
            line-height: 28px;
            color: $darkFontColor;
          }

          p {
            line-height: 24px;
            color: $darkFontColor;
          }

          .btnWrapper {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .link {
              border: 1px solid $blueBgColor;
              text-decoration: none;
              border-radius: 3px;
              color: $darkFontColor;
              padding: 10px 40px;

              &:hover {
                background: $blueBgColor;
                color: #fff;
                transition: 0.5s;
              }
            }
          }
        }
      }
    }
  }
}

// ==============Responsive Design===============

@media only screen and (max-width: 600px) {
  .newsSection {
    .newsWrapper {
      .newsGrid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        .newsItemCard {
          .imgWrapper {
            min-height: 200px !important;
            max-height: 270px !important;

            img {
              width: 100% !important;
              height: 100% !important;
            }
          }
        }
      }
      .newsHeader {
        h4 {
          font-size: 20px;
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .newsSection {
    .newsWrapper {
      .newsGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;

        .newsItemCard {
          .imgWrapper {
            min-height: 200px;
            height: 270px;

            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .newsSection {
    .newsWrapper {
      .newsGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .newsSection {
    .newsWrapper {
      .newsGrid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .newsSection {
    .newsWrapper {
      .newsGrid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}
